<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="max-w-5xl mx-auto">
    <!-- Grid -->
    <div class="grid sm:grid-cols-2 gap-70">
      <!-- Categories -->
      <div>
        <h3 class="text-lg font-semibold text-black text-center mb-10">
          Categories
        </h3>
        @if (isLoading){
          <app-loader></app-loader>
        }@else {
          <div class="flex flex-col mt-2 w-auto">
            <div class="-m-1.5 overflow-x-auto">
              <div class="p-1.5 min-w-full inline-block align-middle">
                <div class="overflow-hidden">
                  <table class="min-w-full divide-y divide-gray-200">
                    <thead>
                    <tr>
                      <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-black uppercase">Name</th>
                      <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-black uppercase">Notes</th>
                      <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-black uppercase">Action</th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                      @for (category of categoryList ; track $index) {
                        <tr>
                          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-black">{{category.name}}</td>
                          <td class="px-6 py-4 whitespace-nowrap text-sm text-black">{{category.noteCount}}</td>
                          <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                            <button (click)="deleteCategory(category)" type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-red-600 hover:text-red-800 focus:outline-hidden focus:text-red-800 disabled:opacity-50 disabled:pointer-events-none">
                              Delete
                            </button>
                          </td>
                        </tr>
                      }

                    <!-- Add button shown only on hover over this row -->
                    <tr class="group">
                      <td colspan="3" class="px-6 py-2">
                        <button (click)="openModal('category')"
                                type="button"
                                class="hidden group-hover:block w-full bg-gray-400 text-white py-2 text-sm font-semibold rounded-md transition duration-300 hover:bg-gray-700 text-center"
                        >
                          +
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
      <!-- End Categories -->

      <!-- Tags -->
      <div>
        <h3 class="text-lg font-semibold text-black text-center mb-10">
          Tags
        </h3>
        @if (isLoading){
          <app-loader></app-loader>
        }@else {
          <div class="flex flex-col mt-2 w-auto">
            <div class="-m-1.5 overflow-x-auto">
              <div class="p-1.5 min-w-full inline-block align-middle">
                <div class="overflow-hidden">
                  <table class="min-w-full divide-y divide-gray-200">
                    <thead>
                    <tr>
                      <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-black uppercase">Name</th>
                      <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-black uppercase">Notes</th>
                      <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-black uppercase">Action</th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                      @for (tag of tagList ; track $index) {
                        <tr>
                          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-black">{{tag.name}}</td>
                          <td class="px-6 py-4 whitespace-nowrap text-sm text-black">{{tag.noteCount}}</td>
                          <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                            <button (click)="deleteTag(tag)" type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-red-600 hover:text-red-800 focus:outline-hidden focus:text-red-800 disabled:opacity-50 disabled:pointer-events-none">
                              Delete
                            </button>
                          </td>
                        </tr>
                      }

                    <!-- Add button shown only on hover over this row -->
                    <tr class="group">
                      <td colspan="3" class="px-6 py-2">
                        <button (click)="openModal('tag')"
                                type="button"
                                class="hidden group-hover:block w-full bg-gray-400 text-white py-2 text-sm font-semibold rounded-md transition duration-300 hover:bg-gray-700 text-center"
                        >
                          +
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
      <!-- End Tags -->
    </div>

    <div *ngIf="isModalOpen"   class="transition-opacity duration-300 ease-in-out opacity-100  overflow-y-auto overflow-x-hidden fixed inset-0 z-50 flex items-center justify-center bg-transparent bg-opacity-0 backdrop-blur-xs">
      <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        @if (modalType == "category"){
          <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                Add New Category
              </h3>
              <button (click)="closeModal()" type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
              <form [formGroup]="createCategoryForm" (ngSubmit)="createCategory()" class="space-y-4" action="#">
                <div>
                  <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category Name</label>
                  <input formControlName="name" type="text" name="category" id="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
                </div>
                <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add Category</button>
              </form>
            </div>
          </div>
        } @else if (modalType == "tag"){
          <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                Add New Tag
              </h3>
              <button (click)="closeModal()" type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="authentication-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
              <form [formGroup]="createTagForm" (ngSubmit)="createTag()" class="space-y-4" action="#">
                <div>
                  <label for="tag" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tag Name</label>
                  <input formControlName="names" type="text" name="tag" id="tag" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  required />
                </div>
                <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add New Tag</button>
              </form>
            </div>
          </div>
        }
      </div>
    </div>
    <!-- End Grid -->
  </div>
</div>
